@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 144px;
  gap: 32px;

}

.text {
  display: flex;
  gap: 16px;
  width: 648px;
  margin: 144px;
}

body {
    background-image: url(/assets/mountains-universe02.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;

}

nav {
    padding: 32px;
    display: flex;
    align-items: center;
    gap: 32px;
  }

  a {
    font-family: 'Roboto', sans-serif;
    font-size: 21.67px;
    text-decoration: none;
    color: #C4C4CC;
  }

  a:active {
    font-weight: bold;
    
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #E1E1E6;
  }

  input {
    width: 195px;
    height: 48px;
    background: none;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
  }

  input:hover{
    cursor: pointer;
    background-color:#fff ;
    color:#02799D;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
  }

  p {
    color: #E1E1E6;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
  }

  .title {
    margin-right: 400px;
  }